.bg1 .b_cloud {
    position: relative;
}

.bg1 .box {
    margin-top: 100px;
    margin-bottom: 20px;
    position: relative;
}

.title {
    position: absolute;
    top: -5px;
    right: 0;
    text-align: right;
    font-size: 30px;
    margin: 50px 38px 0 0;
    display: block;
    color: #fff;
    width: 152px;
    line-height: 30px;
    padding: 10px 0;
    z-index: 99;
}

.title .ico_change {
    background: url(https://api.xzw.com/static/image/xcx/ico_change.png) no-repeat 0 0;
    width: 30px;
    height: 30px;
    background-size: 30px;
    float: left;
}

.box .box_t {
    position: relative;
    margin-top: -110px;
    height: 305px;
}

.box .box_t .dt {
    width: 236px;
    position: absolute;
    bottom: 0;
    left: -10px;
}

.box .box_t .dt .dt_img {
    width: 236px;
    height: 236px;
}

.box .box_t .dt .dt_title {
    font-size: 38px;
    color: #5590e3;
    text-align: center;
    display: block;
    font-weight: bold;
}

.box .box_t .dd {
    width: 360px;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.box .box_t .dd .star1 {
    margin: 10px 0;
}

.box .box_t .dd .dd_title {
    font-size: 22px;
    color: #999;
    display: block;
    padding-left: 5px;
    font-weight: bold;
}

.box .box_t .dd .dd_text {
    font-size: 33px;
    display: block;
    padding-left: 5px;
    line-height: 50px;
    font-weight: bold;
    color: #555;
}

.box .ul {
    font-size: 28px;
    margin-top: 30px;
}

.box .ul .li {
    display: inline-block;
    width: 50%;
    line-height: 48px;
    height: 48px;
    overflow: hidden;
}

.box .ul .li .star2 {
    float: left;
    margin-top: 10px;
}

.box .ul .li_title {
    color: #999;
    margin-right: 15px;
    float: left;
}

.box .ul .li_text {
    color: #555;
    display: block;
    width: 190px;
    height: 48px;
}

.box .content {
    font-size: 30px;
    line-height: 56px;
    border-top: 1px solid #e6ebff;
    margin-top: 30px;
    padding-top: 30px;
    color: #555;
}

.box .content .c_title {
    color: #5590e3;
    display: block;
    font-weight: bold;
}

.box .content .c_info {
    display: block;
    margin-bottom: 20px;
}

.tab_date {
    position: fixed;
    bottom: 0;
    background-size: 750px 120px;
    width: 750px;
    height: 120px;
    font-size: 36px;
    z-index: 55;
    text-align: center;
}

.tab_date__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.tab_date .tabli {
    position: relative;
    width: 120px;
    color: #d1d2ff;
    display: inline-block;
    text-align: center;
    line-height: 56px;
    margin-top: 46px;
}

.tab_date .tabli_on {
    background: #fff;
    height: 56px;
    border-radius: 56px;
    color: #01002c;
}

.mini {
    position: relative;
    bottom: -100px;
    padding-bottom: 122px;
}

.mini .li text {
    color: rgba(255,255,255,0.75);
}

.sharebtn {
    background: #d2e1ff;
    font-size: 38px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #5b86e9;
    width: 100%;
    left: 0;
    border-radius: 0 0 14px 14px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.sharebtn::after{
    border: none;
}


.sharebtn image {
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.ys {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
}

.round-click {
    height: 120px;
    width: 120px;
    background-color: #d92a2a;
    border-radius: 100%;
    position: fixed;
    bottom: 300px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.round-click navigator {
    font-size: 32px;
    max-width: 80px;
    color: #fff;
    text-align: center;
}

.inner {
    margin-bottom: 100px;
}

.ad-wrap {
    margin-bottom: 140px;
}
